@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:wght@700&family=Be+Vietnam+Pro:wght@800&family=Roboto:wght@100;900&display=swap');


body {
	height:  100vh;
	width:  100vw;
	margin:  0;
}

#root {
	width:  100%;
	height:  100%;
	display:  flex;
	justify-content:  center;
	align-items:  center;
}

h1 {
	font-family:  sans-serif;
	font-size:  20rem;
}

h1::before {
	content:  "";
	position:  absolute;
	/*border:  1px solid red;*/
	width:  100vw;
	height:  1vh;
	background-color:  white;
	transform:  translateY(10.5rem);
}